.intro1 {
    background: url("../../img/slide-001.jpg") no-repeat center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.intro2 {
    background: url("../../img/slide-002.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.intro3 {
    background-color: #FFFFFF;
}